{% extends 'base.html' %}

{% block content %}

  <div class="fluid-container" >

    <div class="card mx-auto" style="width: 50%;">
      <div class="card-header">
        <h2>Search For something</h2>
      </div>
      <div class="card-body">

        <input class="form-group" id="query" type="text" size="100" placeholder="search for something"><br>
        <input class='btn btn-success' id="submit" type="button" value="Enter">

        <script>
            document.querySelector('#query').focus();
            document.querySelector('#query').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#submit').click();
                }
            };

            document.querySelector('#submit').onclick = function(e) {
                var query = document.querySelector('#query').value;
                window.location.pathname = '/search/' + query ;
            };
        </script>

        <br><br><br>

        {% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

        <form class="create" action="{% url 'web:index' %}" method="post">
          {% csrf_token %}

          <h3>Change Password</h3>
          <div class="form-group">
            <input type="text" id="password" name="password" placeholder="strong password" required><br>
          </div>

          <input class='btn btn-success' type="submit" value="Submit">

        </form>

      </div>
    </div>


    <div class="p-3 jumbotron mx-auto" style="width: 50%;">

      <table class="table table-striped table-bordered" id="sortTable">
        <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Date</th>
          <th>User</th>
        </tr>
        </thead>
        <tbody>
          {% for torr in torrs %}
          <tr>
            <td>{{ torr.title }}</td>
            <td>{{ torr.cat }}</td>
            <td>{{ torr.date }}</td>
            <td>{{ torr.user }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <script>
      $('#sortTable').DataTable();
      </script>

    </div>


  </div>



{% endblock %}
